.feed {
  background-color: black;
}
.feed__button {
  color: white !important;
  background-color: black !important;
  width: 90% !important;
  /* margin: 20px !important; */
  border-color: white !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.feed > h1 {
  color: white;
  margin-left: 5%;
}
.feed__pages {
  display: flex;
  justify-content: space-between;
}
